body {
    background-color: #212121;
    padding: 0;
    margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
    font-weight: 400;
    line-height: 1.563;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.albumlist{
    
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 350px));;
        gap: 2rem;
        margin-left: 5%;
        margin-right: 3%;
       
}

img {
    max-width: 100%;
}

.describe {
    margin-bottom: 10em;
}

header h1 {
   font-size: 5rem;
   display: flex;
   justify-content: center;
   text-align: center;
color: #CA2C42;
font-family: utopia-std-headline, serif;
margin-top: -2em;

}

p {
    color: whitesmoke; 
    font-family: Arial, Helvetica, sans-serif;
  
    justify-content: center;
    text-align: center;
}

#logo {
    max-width: 18%;
    margin-left: -6em;
    margin-top: -5em;
}

h1,
h2,
h3,
h4,
a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
   margin-top: -4px;
   font-size: 1.3rem;
}

h1 {
    font-size: 1.7rem;
}

a {
    font-size: 1.3rem;

}


h3,
h4 {
    font-size: 1rem;
}